/* .navbar {
    display: flex;
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    

    justify-content: space-between;
    /* transition-timing-function: ease-in; */
  
.navbar{
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; */
     top: 0;
    display: flex;
    justify-content: space-between;
    
}
.nav__logo{
    height: 100px;
   
}
.nav__avatar{
    height: 50px;
    padding-right: 20px;
    padding-top: 20px;
}

